<form [formGroup]="singleFormGroup" (ngSubmit)="onSubmit(singleFormGroup.value)">

  <mat-form-field appearance="fill">
    <mat-label>Titel</mat-label>
    <input matInput placeholder="Titel" formControlName="titelControl">
  </mat-form-field>
  <br/>

  <mat-form-field appearance="fill">
    <mat-label>Autor</mat-label>
    <input matInput placeholder="Autor" formControlName="autorControl">
  </mat-form-field>
  <br/>

  <mat-form-field appearance="fill">
    <mat-label>Genre</mat-label>
    <input matInput placeholder="Genre" formControlName="genreControl">
  </mat-form-field>
  <br/>

  <mat-form-field appearance="fill">
    <mat-label>Status</mat-label>
    <input matInput placeholder="Status" formControlName="statusControl">
  </mat-form-field>
  <br/>

  <mat-form-field appearance="fill">
    <mat-label>Bewertung</mat-label>
    <input matInput placeholder="Bewertung" formControlName="bewertungControl">
  </mat-form-field>
  <br/>

  <mat-form-field appearance="fill">
    <mat-label>Notiz</mat-label>
    <input matInput placeholder="Notiz" formControlName="notizControl">
  </mat-form-field>
  <br/>

  <button mat-raised-button type="submit">Change</button>
</form>
