<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/create']">Create</a>
      <a mat-list-item [routerLink]="['/read']">List</a>
      <a mat-list-item [routerLink]="['/done']">Done</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <h1 class="title">
        <ul>
          <li style="color: #3C79B4">M</li>
          <li style="color: #B7986C">e</li>
          <li style="color: #C9ECF5">i</li>
          <li style="color: #3C79B4">n</li>
          <li id="e" style="color: #B7986C; padding-right: 10px">e</li>
          <li style="color: #C9ECF5">B</li>
          <li style="color: #3C79B4">ü</li>
          <li style="color: #B7986C">c</li>
          <li style="color: #C9ECF5">h</li>
          <li style="color: #3C79B4">e</li>
          <li style="color: #B7986C">r</li>
          <li style="color: #C9ECF5">l</li>
          <li style="color: #3C79B4">i</li>
          <li style="color: #B7986C">s</li>
          <li style="color: #C9ECF5">t</li>
          <li style="color: #3C79B4">e</li>
        </ul>
      </h1>

    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
