<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- titel Column -->
    <ng-container matColumnDef="titel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Titel</th>
      <td mat-cell *matCellDef="let row">{{row.titel}}</td>
    </ng-container>

    <!-- autor Column -->
    <ng-container matColumnDef="autor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Autor</th>
      <td mat-cell *matCellDef="let row">{{row.autor}}</td>
    </ng-container>

    <!-- genre Column -->
    <ng-container matColumnDef="genre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Genre</th>
      <td mat-cell *matCellDef="let row">{{row.genre}}</td>
    </ng-container>

    <!-- status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let row">{{row.status}}</td>
    </ng-container>

    <!-- bewertung Column -->
    <ng-container matColumnDef="bewertung">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Bewertung</th>
      <td mat-cell *matCellDef="let row">{{row.bewertung}}</td>
    </ng-container>

    <!-- notiz Column -->
    <ng-container matColumnDef="notiz">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Notiz</th>
      <td mat-cell *matCellDef="let row">{{row.notiz}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>
</div>
