<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label for="staticId" class="col-sm-2 col-form-label">id</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" formControlName="idControl" id="staticId" readonly>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputTitel" class="col-sm-2 col-form-label">Titel</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="titelControl" id="inputTitel">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputAutor" class="col-sm-2 col-form-label">Autor</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="autorControl" id="inputAutor">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputGenre" class="col-sm-2 col-form-label">Genre</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="genreControl" id="inputGenre">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputStatus" class="col-sm-2 col-form-label">Status</label>
      <div class="col-sm-10">
        <select type="text" class="form-control" formControlName="statusControl" id="inputStatus">
          <option>gelesen</option>
          <option>gerade am lesen</option>
          <option>nicht gelesen</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputBewertung" class="col-sm-2 col-form-label">Bewertung</label>
      <div class="col-sm-10">
        <select type="text" class="form-control" formControlName="bewertungControl" id="inputBewertung">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputNotiz" class="col-sm-2 col-form-label">Notiz</label>
      <div class="col-sm-10">
        <textarea type="text" class="form-control" formControlName="notizControl" id="inputNotiz"></textarea>
      </div>
    </div>


    <div class="form-group row">
      <div class="col-sm-6">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="!form.valid">Update</button>
      </div>
      <div class="col-sm-6">
        <button type="cancel" class="btn btn-secondary btn-block" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </form>
</div>
