div.container {
  background-color: #3C79B4;
  color: white;
  border-radius: 15px;
  padding: 3%;
  margin: 2%;
}

#cancel{
  background-color: #B7986C;
}

#create {
  background-color: #C9ECF5;
}

button {
  margin-top: 5px;
}
