#hinzu {
  float: right;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: #B7986C;
}

#hinzu:hover {
  background-color: #3C79B4;
  color: white;
}

.checked{
  color: orange;
}

th{
  color: #3C79B4;
  text-shadow: 0.5px 0.5px gray;
}

form{
  color: #3C79B4;
  font-weight: bold;
}

@media screen and (max-width: 770px){
  button{
    margin-left: 20px;
  }
}
