<div *ngIf="selectedId == 0" class="container">
  <table class="table table-striped table-hover">
      <caption>List of Members</caption>
      <thead>
      <tr>
        <th>Nr.</th>
        <th>Titel</th>
        <th>Autor</th>
        <th>Genre</th>
        <th>Status</th>
        <th>Bewertung</th>
        <th>Notiz</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let buch of buchliste; let i=index; trackBy: trackByData">
        <td>{{ i+1 }}</td>
        <td>{{buch.titel}}</td>
        <td>{{buch.autor}}</td>
        <td>{{buch.genre}}</td>
        <td>{{buch.status}}</td>
        <td>{{buch.bewertung}}</td>
        <td>{{buch.notiz}}</td>
        <td><a [routerLink]="['/read/', buch.id]">
          <i-bs
            name="pencil-square"
            class="text-secondary"
            width="1em"
            height="1em">
          </i-bs></a></td>
        <td><i-bs
          name="trash"
          class="text-secondary"
          width="1em"
          height="1em"
          (click)="open(content, buch.id)">
        </i-bs></td>
      </tr>
      </tbody>
  </table>
</div>
<div *ngIf="selectedId > 0" class="container">
  <h1>{{ selectedId }}</h1>
  <div *ngIf="error">
    <p>{{ error?.message }}</p>
    <p>{{ error?.status }}</p>
  </div>
  <div *ngIf="buch">
    <ck-form [data]="buch" (updateEvent)="update($event)"></ck-form>
  </div>
</div>


<!-- modaler Dialog fuer das Loeschen -->

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirm delete</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h4 style="color: red">Do you really want to delete this data set?</h4>
    <form [formGroup]="form">
      <div class="form-group">
        <label for="inpId">id</label>
        <div class="input-group">
          <input id="inpId" class="form-control" formControlName="idControl" value="{{ buch?.id }}" readonly>
        </div>
      </div>
      <div class="form-group">
        <label for="inpT">titel</label>
        <div class="input-group">
          <input id="inpT" class="form-control" formControlName="titelControl" value="{{ buch?.titel }}" readonly>
        </div>
      </div>
      <div class="form-group">
        <label for="inpA">autor</label>
        <div class="input-group">
          <input id="inpA" class="form-control" formControlName="autorControl" value="{{ buch?.autor }}" readonly>
        </div>
      </div>
      <div class="form-group">
        <label for="inpG">genre</label>
        <div class="input-group">
          <input id="inpG" class="form-control" formControlName="genreControl" value="{{ buch?.genre }}" readonly>
        </div>
      </div>
      <div class="form-group">
        <label for="inpS">status</label>
        <div class="input-group">
          <input id="inpS" class="form-control" formControlName="statusControl" value="{{ buch?.status }}" readonly>
        </div>
      </div>
      <div class="form-group">
        <label for="inpB">bewertung</label>
        <div class="input-group">
          <input id="inpB" class="form-control" formControlName="bewertungControl" value="{{ buch?.bewertung }}" readonly>
        </div>
      </div>
      <div class="form-group">
        <label for="inpN">notiz</label>
        <div class="input-group">
          <input id="inpN" class="form-control" formControlName="notizControl" value="{{ buch?.notiz }}" readonly>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('cancel')">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="modal.close('delete')">Delete</button>
  </div>
</ng-template>
