<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div *ngIf="selectedId == 0" class="container">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Titel</th>
      <th>Autor</th>
      <th>Bewertung</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let buch of buchliste; let i=index; trackBy: trackByData;">
      <ng-container *ngIf="buch.status=='gelesen' && buch.bewertung==5">
        <td>{{buch.titel}}</td>
        <td>{{buch.autor}}</td>
        <td>
          <span *ngIf="buch.bewertung >= 1" class="fa fa-star checked"></span>
          <span *ngIf="buch.bewertung >= 2" class="fa fa-star checked"></span>
          <span *ngIf="buch.bewertung >= 3" class="fa fa-star checked"></span>
          <span *ngIf="buch.bewertung >= 4" class="fa fa-star checked"></span>
          <span *ngIf="buch.bewertung >= 5" class="fa fa-star checked"></span>
        </td>
      </ng-container>
    </tr>
    <tr *ngFor="let buch of buchliste; let i=index; trackBy: trackByData">
      <ng-container *ngIf="buch.status=='gelesen' && buch.bewertung==4">
        <td>{{buch.titel}}</td>
        <td>{{buch.autor}}</td>
        <td>
          <span *ngIf="buch.bewertung >= 1" class="fa fa-star checked"></span>
          <span *ngIf="buch.bewertung >= 2" class="fa fa-star checked"></span>
          <span *ngIf="buch.bewertung >= 3" class="fa fa-star checked"></span>
          <span *ngIf="buch.bewertung >= 4" class="fa fa-star checked"></span>
          <span *ngIf="buch.bewertung >= 5" class="fa fa-star checked"></span>
        </td>
      </ng-container>
    </tr>
    <tr *ngFor="let buch of buchliste; let i=index; trackBy: trackByData">
      <ng-container *ngIf="buch.status=='gelesen' && buch.bewertung==3">
        <td>{{buch.titel}}</td>
        <td>{{buch.autor}}</td>
        <td>
          <span *ngIf="buch.bewertung >= 1" class="fa fa-star checked"></span>
          <span *ngIf="buch.bewertung >= 2" class="fa fa-star checked"></span>
          <span *ngIf="buch.bewertung >= 3" class="fa fa-star checked"></span>
          <span *ngIf="buch.bewertung >= 4" class="fa fa-star checked"></span>
          <span *ngIf="buch.bewertung >= 5" class="fa fa-star checked"></span>
        </td>
      </ng-container>
    </tr>
    <tr *ngFor="let buch of buchliste; let i=index; trackBy: trackByData">
      <ng-container *ngIf="buch.status=='gelesen' && buch.bewertung==2">
        <td>{{buch.titel}}</td>
        <td>{{buch.autor}}</td>
        <td>
          <span *ngIf="buch.bewertung >= 1" class="fa fa-star checked"></span>
          <span *ngIf="buch.bewertung >= 2" class="fa fa-star checked"></span>
          <span *ngIf="buch.bewertung >= 3" class="fa fa-star checked"></span>
          <span *ngIf="buch.bewertung >= 4" class="fa fa-star checked"></span>
          <span *ngIf="buch.bewertung >= 5" class="fa fa-star checked"></span>
        </td>
      </ng-container>
    </tr>
    <tr *ngFor="let buch of buchliste; let i=index; trackBy: trackByData">
      <ng-container *ngIf="buch.status=='gelesen' && buch.bewertung==1">
        <td>{{buch.titel}}</td>
        <td>{{buch.autor}}</td>
        <td>
          <span *ngIf="buch.bewertung >= 1" class="fa fa-star checked"></span>
          <span *ngIf="buch.bewertung >= 2" class="fa fa-star checked"></span>
          <span *ngIf="buch.bewertung >= 3" class="fa fa-star checked"></span>
          <span *ngIf="buch.bewertung >= 4" class="fa fa-star checked"></span>
          <span *ngIf="buch.bewertung >= 5" class="fa fa-star checked"></span>
        </td>
      </ng-container>
    </tr>
    </tbody>
  </table>
</div>
<div *ngIf="selectedId > 0" class="container">
  <h1>{{ selectedId }}</h1>
  <div *ngIf="error">
    <p>{{ error?.message }}</p>
    <p>{{ error?.status }}</p>
  </div>
</div>
